<div class="sidebar text-light titlecol">
    <h3><i class="icon icon-photo"></i></h3>
    <div class="divider" style="padding-top: 1em;"></div>
    <h3>Notes</h3>
    <h4>From the edge</h4>

    <ul class="nav">
        <li class="nav-item">
            <a href="/">Home</a>
        </li>
        <li class="nav-item">
            <a href="/galleries">Gallery</a>
        </li>
        <li class="nav-item">
            <a href="/galleries/create">Add gallery</a>
        </li>
        <li class="nav-item">
            <a href="#">Map</a>
        </li>
        <li class="nav-item">
            <a href="/users/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a href="/auth/register">Register</a>
        </li>
        <li class="nav-item">
            <a href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
            <a href="/auth/logout">Logout</a>
        </li>
    </ul>
</div>
