<div class="container">
    <div class="columns">
        <div class="column col-6">
            <h1>Add photos to gallery {{ galleryName }}</h1>
            <br />
            <br />

            <span class="mdl-textfield__error">{{ message }}</span>
            <form action="../photos" method="post" enctype="multipart/form-data">
                <div class="form-group add-photos">
                    <label class="form-label" for="photos">Choose photos:</label>
                    <input type="file" multiple="multiple" name="photos" id="photos">
                </div>
                <div class="form-group">
                    <input type="hidden" name="galleryId" value="{{ galleryId }}" />
                    <button class="btn btn-primary" type="submit">Upload</button>
                    <a class="btn" href="/">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
