<!doctype html>
<html lang="en">
<head>
    <title>Laundry Photos Hub</title>
    {{> headers }}
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-2 bg-dark">
            {{> sidebar }}
        </div>

        <div class="column col-10">
            <div class="main">
                <h1>{{ message }}</h1>
                <h2>Dramatic, simple 2-column responsive blog</h2>
                <p>When the web page narrows the left column moves over the right column, thanks
                    to <samp>col-sm-12</samp> and  <samp>float-right</samp>.</p>

                <p>This should be the completed version of blogdrama, which should not
                    be a standalone example. Test.
                </p>
            </div>
        </div>

    </div>
</div>
</body>
