<div class="container">
    <div class="columns">
        <div class="column col-3">
            <h1>DryingLaundry.Art</h1>
            <br />
            {{#if message}}
                <div class="toast toast-primary">
                    <button class="btn btn-clear float-right"></button>
                    <p>{{ message }}</p>
                </div>
            {{/if}}
            <br />
            {{#if userId}}
                <h3>You are logged in.</h3>
            {{else}}
                <br />
                <form action="login" method="post">
                    <div class="form-group">
                        <label class="form-label" for="username">Login</label>
                        <input class="form-input" id="username" name="username" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-input" id="password" name="password" type="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="form-checkbox">
                            <input type="checkbox"><i class="form-icon"></i> Remember me
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn" href="/">Back</a>
                    </div>
            </form>
            {{/if}}
        </div>
    </div>
</div>
