<!doctype html>
<html lang="en">
<head>
    <title>Laundry Photos Hub</title>
    {{> headers }}
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <h1>Login</h1>
            <form>
                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-input" id="email" type="text" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,14}$">
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-input" id="password" type="password" placeholder="Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$">
                </div>
                <div class="form-group">
                    <label class="form-checkbox">
                        <input type="checkbox"><i class="form-icon"></i> Remember me
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
