<h1>Your profile</h1>

<figure class="avatar avatar-xl">
    <img src="https://cataas.com/cat" class="avatar-icon">
    <figcaption>Hello {{ user.name }}!</figcaption>
</figure>
<br /><br />

<ul class="nav">
    <li class="nav-item">
        <a href="/galleries/my">My galleries</a>
    </li>
    <li class="nav-item">
        <a href='/users/{{ user.id }}'>Edit Profile</a>
    </li>
    <li class="nav-item">
        <a href='/auth/logout'>Log Out</a>
    </li>
</ul>
