<h1>Your profile</h1>

<figure class="avatar avatar-xl">
    <img src="https://cataas.com/cat" class="avatar-icon">
    <figcaption>Hello {{ user.name }}!</figcaption>
</figure>
<br /><br /><br />
<div class="mdl-card__actions mdl-card--border">
    <a class="button btn-primary" href='/auth/logout'>Log Out</a> |
    <a class="button btn-primary" href='/users/{{ user.id }}/edit'>Edit Profile</a>
</div>
