<h1>Your profile</h1>
<figure><img src="https://cataas.com/cat">
    <figcaption>Hello {{ user.name }}!</figcaption>
</figure>
<div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button" href='/auth/logout'>Log Out</a>
</div>
