<h1>Your profile</h1>
<figure><img src="http://lorempixel.com/400/200/cats/{{ user.id }}">
    <figcaption>{{ user.name }}'s friend</figcaption>
</figure>
<div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button" href='/logout'>Log Out</a>
</div>
