body,
h1,
h2,
p {
  font-family: 'JetBrains Mono', monospace;
}

.sidebar {
  padding: 15px;
  min-height: 900px;
}
.long {
}
.main {
  padding: 30px;
}
.login {
  padding-top: 150px;
}
.login h1 {
  margin-bottom: 40px;
}

.add-photos {
  padding-bottom: 30px;
}
.gallery {
  padding: 20px 0 60px;
}
.toolbar {
  padding: 30px 0 20px;
}
.buttons {
  padding: 20px 0 20px;
}

.my-galleries .card {
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  height: 100%;
}
.my-galleries .column {
  padding: 0.4rem;
}
.my-galleries .column img {
  width: 100%;
}
.my-galleries .column button {
  margin-left: 0.2rem;
}
.spaces {
  padding: 50px 0;
}
