body, h1, h2, p { font-family: 'JetBrains Mono', monospace; }

.sidebar {
    padding: 15px;
    min-height: 900px;
}
.long {
}
.main {
    padding: 30px;
}
.login { padding-top: 150px }
.login h1 { margin-bottom: 40px }

.add-photos { padding-bottom: 30px }
